* {box-sizing:border-box;}
 * {box-sizing: inherit}

 html {overflow-x:hidden}
 html, body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5; margin:0}

 footer,header,main {display:block;}

 h1{font-size:36px;}
 h2{font-size:20px;}
 h3{font-size:24px;}
 h4{font-size:20px;}
 h5{font-size:18px;}
 h6{font-size:16px;}
 h1,h2,h3,h4,h5,h6{font-family:Verdana, Arial,sans-serif; font-weight:400;margin:10px 0}
 h1{color: rosybrown;}

.jumbo {
    text-align: center;
    font-family: Impact,sans-serif;
    font-style: italic;
    font-size:64px;
}

a { background-color:transparent;}
a:active {
    text-decoration: none; }

.bigbox {margin-top:16px; margin-bottom:16px; display: block;}
.imgpadding { max-width:100%; height:auto} 
.half { width:45%; display:inline-block;  margin: 15px;}


.xlarge { font-size:24px; }
.xxlarge{font-size:36px; }
.xxxlarge{font-size:48px; }


.caption {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.1em;
    padding: 7px 10px;
    color:olivedrab;
    display: inline-block; }



.sidebar { height:100%; width:300px; background-color:rosybrown; position:fixed; z-index:1; overflow:auto; }
.bar-block {text-align:left; margin-top:20px;  padding:8px 16px; border:none; float:none; outline:0; color:lightpink; font-size:25px; }




.credit { margin-top: 80px; font-size:12px; }

html{background-color: seashell;}

.smallbox{
    margin-top:16px; 
    margin-bottom:16px; 
    display: block;
    padding:5px;
    border:3px rgb(187,114,114);
    border-style:dotted;
    background-color:papayawhip;
    font-style: italic;
}

